<div class="row">

    <div class="col-lg-6">
       <table class="table table-striped">
         <thead>
           <tr>
             <th>Id io</th>
             <th>Imagen</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
            <tr *ngFor="let fila of imagenes_obra">
              <td>{{fila.id_io}}</td>
              <td><img class="img-fluid" [src]="fila.imagen_url"></td>
            </tr>
         </tbody>
       </table>
    </div>

    <div class="col-lg-6">
        
    </div>

</div>