table{
    margin-right: auto;
    margin-left: auto;
}

.col-lg-7
{
    margin-left: auto;
    margin-right: auto;
}


@font-face{
    font-family: 'mifuente';
    src: url('src/assets/font/Quesha.ttf');

}

h1
{
    font-family: 'mifuente';
    font-size: 46px;
}



