.col-md-3
{
    margin-left: auto;
    margin-right: auto;
}

.list-unstyled
{
    margin-left: auto;
    margin-right: auto;
}

.col-lg-4
{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
