

<div class="row">
    <div class="col-lg-9 mx-auto">
       
        <div class="mb-4" align="center">
            <h6 class=" text-uppercase">Novedades</h6>
            <!-- Gradient divider -->
            <hr size="200">
        </div>
       
    </div>
</div>


<div class="row">
  <ul id="obras" class="col-lg-7 list-unstyled">
    <li *ngFor="let obra of lista_de_obra;" class=" media">
      <img style="width: 198px; height: 135px;" [src]="obra.imagen" class="img-thumbnail img-fluid mr-3" alt="...">
      <div class="media-body">
        <a style="cursor: pointer;" (click)="verMas(obra);"> <h5 class="mt-0 mb-1">{{obra.titulo}}</h5></a>
      <p [innerHtml]="obra.descripcion" style="height:100px; line-height:20px;"></p>
      <br><br><br>
      </div>
    </li>
  </ul>
</div>







