
#hola
{
  overflow: hidden;
  resize: both;
  width: 80px;
  height: 40px;
  
}
#holaI
{
  overflow: hidden;
  resize: both;
  width: 60px;
  height: 40px;
  
}


#botonmodal
{
  position: relative;
  left: 20px;
}












