
table tr td{

  text-align: center;

 
}


table tr th
{
  text-align: center;
}

#hola
{
  overflow: hidden;
  resize: both;
  width: 60px;
  height: 40px;
  
}
#holaI
{
  overflow: hidden;
  resize: both;
  width: 46px;
  height: 40px;
  
}











