.col-lg-10
{
    margin-left: auto;
    margin-right: auto;
}

.card
{
    background: #ff851396;
    color: rgb(255, 255, 255);
    
}

@font-face{
    font-family: 'mifuente';
    src: url('src/assets/font/Quesha.ttf');

}

h1
{
    font-family: 'mifuente';
    font-size: 46px;
    background: #ff851396;
    color: rgb(255, 255, 255);
}
