

<div *ngIf="alerta == 'La categoria fue eliminada exitosamente!'; else loggedOut">
    <div class="alert alert-success" role="alert" *ngIf="alerta">
        {{alerta}}
      </div>
  </div>
  
  <ng-template #loggedOut>
    <div class="alert alert-danger" role="alert" *ngIf="alerta">
        {{alerta}}
      </div>
  </ng-template>




<div class="row">

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                Formulario de carga categoria
            </div>
            <div class="card-body">
                <form [formGroup]="formCategoria" (ngSubmit)="guardarCategoria()" novalidate> 

                    <input formControlName="id_co" type="hidden">

                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formCategoria.get('descripcion')?.touched || formCategoria.get('descripcion')?.dirty) && formCategoria.get('descripcion')?.invalid}" formControlName="descripcion" placeholder="agragar la categoria" class="form-control" type="text">
                        <div class="invalid-feedback">
                            <span *ngIf="formCategoria.get('descripcion').hasError('required')">Campo requerido  </span>
                            <span *ngIf="!formCategoria.get('descripcion').hasError('minLength')">Minimo 4 caracteres</span>
                        </div>
                    </div>

                    <button [disabled]="formCategoria.invalid" class="btn btn-success">Guardar</button>
                    <button (click)="vaciarFormCategoria();" class="btn btn-primary" type="button">Vaciar</button>

                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-8">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarCategoria" class="form-control" type="text">
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                Grilla de categorias
            </div>

            <div id="grilla" class="card body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                         <th>id</th>
                         <th>Categorias</th>
                         <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let categoria of lista_de_categoria | filter:buscarCategoria | paginate:{itemsPerPage:3, currentPage:p}" >
                            <td>{{categoria.id_co}}</td>
                            <td><div id="hola">{{categoria.descripcion}}</div></td>
                            <td>
                            <div class="btn-group btn-group-sm">
                                <button (click)="eliminarCategoria(categoria.id_co);" class="btn btn-danger">Eliminar</button>
                                <button (click)="editarCategoria(categoria);" class="btn btn-primary">Editar</button>
                            </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-6">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<hr>
<br>


<div *ngIf="alertaTipo == 'El tipo fue eliminado exitosamente!'; else loggedOutt">
    <div class="alert alert-success" role="alert" *ngIf="alertaTipo">
        {{alertaTipo}}
      </div>
  </div>
  
  <ng-template #loggedOutt>
    <div class="alert alert-danger" role="alert" *ngIf="alertaTipo">
        {{alertaTipo}}
      </div>
  </ng-template>





<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                Carga tipo de obra
            </div>
            <div class="card-body">
                <form [formGroup]="formTipo" (ngSubmit)="guardarTipo()" novalidate>
                    <input formControlName="id_tipo" type="hidden">
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formTipo.get('descripcion')?.touched || formTipo.get('descripcion')?.dirty) && formTipo.get('descripcion')?.invalid}"  formControlName="descripcion" placeholder="Agregar tipo" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formTipo.get('descripcion').hasError('required')">Campo requerido  </span>
                            <span *ngIf="!formTipo.get('descripcion').hasError('minLength')">Minimo 4 caracteres</span>
                        </div>
                    </div>
                    <button [disabled]="formTipo.invalid" class="btn btn-success">Guardar</button>
                    <button (click)="vaciarFormTipo();" class="btn btn-primary" type="button">Vaciar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-8">

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarTipo" class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Grilla de tipo de obra
            </div>
            <div id="grilla" class="card body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tipo of lista_de_tipo  | filter:buscarTipo | paginate:{itemsPerPage:3, currentPage:p2}">
                            <td>{{tipo.id_tipo}}</td>
                            <td><div id="hola">{{tipo.descripcion}}</div></td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button (click)="eliminarTipo(tipo.id_tipo);" class="btn btn-danger">Eliminar</button>
                                    <button (click)="editarTipo(tipo);" class="btn btn-primary">Editar</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-sm-6">
                        <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



